@tailwind base;
@tailwind components;
@tailwind utilities;


/* General */
* {
  font-family: 'Noto Sans KR', sans-serif;
}

section {
  width: min(100%, 500px);
}

/* Login */
.login form, .signup form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
  }
  

.login button, .signup button {
    padding: 0.5rem;
    border-radius: 25px;
}