@tailwind base;
@tailwind components;
@tailwind utilities;

/* Login */
.login form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .login input {
    padding: 0.5em;
    border-radius: 10px;
  }

  .login button {
    padding: 0.5rem;
    border-radius: 25px;

  }